.layoutContainer{
  height:100%;
  .layoutHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    background: transparent;
    box-shadow: 0 1px 4px rgba(0,21,41,0.08);
    .breadcurmbContainer{
      height: 100%;
      display: flex;
      align-items: center;
    }
    .headerRight{
      display: flex;
      align-items: center;
      height: 100%;
      .userContainer{
        display: flex;
        align-items: center;
        .ant-avatar{
          margin-right: 5px;
        }
      }
    }
  }
  .layoutSide{
    color: #fff;
    .layouSideLogo{
      height: 50px;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
    }
  }
  .layoutContent{
    padding:15px;
  }
  .ant-layout{
    background: #fff;
  }
}